{% form_theme formDefForm 'FormMakerBundle:Form:fields.html.twig' %}

{{ form_start(formDefForm, {'attr': {'novalidate': 'novalidate', 'role': 'form'}}) }}

<!-- START Definition -->
<article class="definition">
    <div class="page-header">
        <h2>Definition</h2>
        <!-- expand button -->
        <button type="button" class="expand-section-panel js-expand-section-panel btn btn-default btn-sm">Show / Hide</button>
    </div>

    <div class="expandable-section-panel panel panel-default" style="display: block">
        <div class="panel-body">
            <div class="well clearfix">

                {{ form_row(formDefForm.name) }}

                {# Two column row cannot be handled with form_row function right now #}
                {# styling requires addition class for wrapping div when validation errer occurs#}
                <div class="form-group row{% if formDefForm.firstPage.vars.valid == false or formDefForm.cssClass.vars.valid == false %}has-error has-feedback{% endif %}">
                    <div class="col-sm-6">
                        {{ form_label(formDefForm.firstPage) }}
                        {{ form_widget(formDefForm.firstPage) }}
                        {{ form_errors(formDefForm.firstPage) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(formDefForm.cssClass) }}
                        {{ form_errors(formDefForm.cssClass) }}
                        {{ form_widget(formDefForm.cssClass) }}
                    </div>
                </div>

                {{ form_row(formDefForm.viewType) }}
            </div>

            <div class="well clearfix">
                {{ form_row(formDefForm.summaryPage) }}

                {{ form_row(formDefForm.summaryLabel) }}

                {{ form_row(formDefForm.summaryBody) }}
            </div>

            <div class="well clearfix">
                {{ form_row(formDefForm.receiptLabel) }}

                {{ form_row(formDefForm.receiptIntro) }}

                {{ form_row(formDefForm.receiptBody) }}
            </div>

            <div class="well clearfix">
                {{ form_row(formDefForm.emailAction) }}

                {{ form_row(formDefForm.emailTitle) }}

                {{ form_row(formDefForm.recipients) }}

                {{ form_row(formDefForm.storeAction) }}

                {# Two column row cannot be handled with form_row function right now #}
                <div class="form-group row{% if formDefForm.processClass.vars.valid == false %}has-error has-feedback{% endif %}">
                    <div class="col-sm-6">
                        {{ form_label(formDefForm.objectAction) }}
                        {{ form_widget(formDefForm.objectAction) }}
                        {{ form_errors(formDefForm.objectAction) }}
                    </div>
                    <div class="col-sm-6">
                        {# for checboxes widget comes before labesl#}
                        {{ form_label(formDefForm.processClass) }}
                        {{ form_widget(formDefForm.processClass) }}
                        {{ form_errors(formDefForm.processClass) }}
                    </div>
                </div>
            </div>
        </div>
    <div>
</article>

<div>
    {{ form_widget(formDefForm.save) }}
</div>

{{ form_end(formDefForm) }}