{% extends 'FormMakerBundle::admin_layout.html.twig' %}

{% block content %}

    <section class="attributes answer-list">
        <div class="page-header">
            <h2>{{ "answers"|trans({}, "formmaker") }} <span class="badge">335</span></h2>
        </div>

        <table class="js-answers-list-table table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="no-icon header">#</th>
                    <th class="no-icon header">{{ "answer.date"|trans({}, "formmaker") }}</th>
                    <th class="no-icon header">{{ "form.name"|trans({}, "formmaker") }}</th>
                    <th class="no-icon header">{{ "answer.summary"|trans({}, "formmaker") }}</th>
                    <th class="no-icon header">{{ "author"|trans({}, "formmaker") }}</th>
                    <th class="answer-actions">{{ "actions"|trans({}, "formmaker") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for answer in results %}
                    <tr>
                        <td class="number"></td>
                        <td><a href="">{{ answer.getAnswerDate|date("D Y-d-m H:i:s") }}</a></td>
                        <td><a href="">{{ answer.getDefinition.getName }}</a></td>
                        <td>{{ summaries[answer.getId] }}</td>
                        <td>{{ userNames[answer.getUserId] }}</td>
                        <td>
                            <a href="" type="button" class="edit-form btn btn-info">
                                <span class="glyphicon glyphicon-edit"></span>
                                {{ "display"|trans({}, "formmaker") }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}