<form role="form">
    <ol class="breadcrumb">
        {% for page in field.value.getPagesContainer.getPages %}
            <li {% if loop.index0 == field.value.getPagesContainer.getCurrentPageIndex %}class="active"{% endif %}>
                {{ page.getTitle }}
            </li>
        {% endfor %}
    </ol>

    <h1>{{ field.value.getPagesContainer.getCurrentPage.getTitle }}</h1>

    <div class="container">
        {% for attribute in field.value.getPagesContainer.getCurrentPage.getAttributes %}
            <div class="form-group">
                {{ include(
                    "FormMakerBundle:FormMaker/Attributes:" ~ attribute.getType.getStringId ~ ".html.twig",
                    { 'attribute': attribute }
                ) }}
            </div>
        {% endfor %}
    </div>

    <div class="form-nav">
        {% if field.value.getPagesContainer.previousPageExists %}
            <button type="button" class="btn btn-default btn-lg btn-large btn-left previous"
                    data-post-path="{{ path( "render_form", { "locationId": locationId, "direction": "prev" } ) }}">
                ← {{ "previous"|trans( {}, "formmaker" ) }}
            </button>
        {% endif %}
        {% if field.value.getPagesContainer.nextPageExists %}
            <button type="button" class="btn btn-primary btn-lg btn-right next"
                    data-post-path="{{ path( "render_form", { "locationId": locationId, "direction": "next" } ) }}">
                {{ "next"|trans( {}, "formmaker" ) }} →
            </button>
        {% endif %}
    </div>
</form>