{# Get the current page, and force the data to reload. That will make the user entered data to appear. #}
{% set currentPage = field.value.getPagesContainer.getCurrentPage( true ) %}

<form role="form">
    <ol class="breadcrumb">
        {% for page in field.value.getPagesContainer.getPages %}
            <li {% if loop.index0 == field.value.getPagesContainer.getCurrentPageIndex %}class="active"{% endif %}>
                {{ page.getTitle }}
            </li>
        {% endfor %}
    </ol>

    <h1>{{ currentPage.getTitle }}</h1>

    <div class="container">
        {% include "FormMakerBundle:FormMaker/Views/Default/Pages:" ~ currentPage.getType ~ ".html.twig" with {
            "currentPage": currentPage
        } %}
    </div>

    <div class="form-nav">
        {% if field.value.getPagesContainer.previousPageExists %}
            <button type="button" class="btn btn-default btn-lg btn-large btn-left previous"
                    data-post-path="{{ path( "render_form", { "locationId": locationId, "direction": "prev" } ) }}">
                ← {{ "previous"|trans( {}, "formmaker" ) }}
            </button>
        {% endif %}
        {% if field.value.getPagesContainer.nextPageExists %}
            <button type="button" class="btn btn-primary btn-lg btn-right next"
                    data-post-path="{{ path( "render_form", { "locationId": locationId, "direction": "next" } ) }}">
                {{ "next"|trans( {}, "formmaker" ) }} →
            </button>
        {% endif %}
    </div>
</form>