{# Form row #}
{% block form_row -%}
    {# styling requires addition class for wrapping div when validation errer occurs#}
    <div class="form-group{% if errors|length > 0 %} has-error has-feedback{% endif %}">
        {# swapped order for checkobes#}
        {% if form.vars.block_prefixes.1 == 'checkbox' %}
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
        {% else %}
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
        {% endif %}
    </div>
    {{- form_errors(form) -}}
{%- endblock form_row %}

{# Label #}
{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ 'control-label required-label')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock form_label %}

{# Text input #}
{% block form_widget_simple -%}
    {% set type = type|default('text') -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ 'form-control')}) %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}

{# Textarea #}
{% block textarea_widget -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ 'form-control'), 'rows': 2}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget %}


{# Error #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="alert alert-warning alert-dismissible col-sm-12" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {{ error.message }}
            </div>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{# Select list #}
{% block choice_widget_collapsed -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control">
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed %}